/* src/components/Navbar.css */
.navbar {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); /* Efecto de "glassmorphism" */
  border-radius: 12px;
}

.navbar .navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar-nav .nav-item .btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.navbar-nav .nav-item .btn:hover {
  background-color: #535bf2;
  color: white;
}

.navbar-nav .nav-item .btn-outline-light {
  border: 1px solid #fff;
  color: #fff;
}

.navbar-toggler {
  border: none;
}

@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }
}
