
.navbar {
  background-color: #343a40; /* Fondo oscuro para la navbar */
  padding: 1rem 2rem; /* Espaciado interno */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff !important;
}

.navbar-nav .nav-item {
  margin-left: 15px;
}

.nav-link, .btn {
  color: #ffffff !important;
}

.nav-link:hover, .btn:hover {
  color: #f1f1f1 !important; /* Cambio de color al pasar el ratón */
  background-color: transparent !important;
}

.btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}

.btn-outline-light:hover {
  background-color: #ffffff;
  color: #343a40;
}

.navbar-toggler-icon {
  background-color: #ffffff;
}
