@import "tailwindcss";

@theme {
  --color-primary: #1fb6ff;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
    html, body, #root {
    font-family: var(--font-sans);
    color: var(--color-primary);
    margin: 0;
    padding: 0;
    background-color: #0e0f11;
  }
}
  